html {
  font-size: 18px;
  line-height: 1.4;
  font-family: helvetica, arial;
}
/*Main Section*/
main {
  background-image: url(../images/glasses-bg.png);
  background-size: cover;
  height: 30rem;
  width: 100%;
  display: flex;
  justify-content: center;
}
header {
  display: flex;
  justify-content: center;
}
.sitecontainer {
  width: 960px;
}
.containerh {
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: cadetblue;
  color: white;
}
.logo {
  min-width: 200px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.logo img {
  height: 1.5rem;
  padding-left: 2rem;
  padding-right: 1rem;
}
.logo h3 {
  font-size: 1rem;
}
.navbar {
  min-width: 200px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navbar ul {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.navbar li {
  padding-right: 2rem;
}
.hidemenu {
  display: none;
}
.textcontainer {
  width: 960px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  top: 14rem;
  right: -2rem;
  margin: 0;
}

.looktext {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
  text-transform: uppercase;
  background-color: white;
  padding: 1.5rem 5rem;
}

/*Info Section*/
figure {
  height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding-left: 6rem;
  padding-right: 6rem;
}
figcation {
  display: block;
  text-align: center;
  vertical-align: bottom;
}
.infocontainer {
  display: flex;
  justify-content: center;
}
.info {
  width: 960px;
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
#paper {
  width: 3.5rem;
/*Tried setting height to auto, but it didn't look porportionate to the redline*/
  height: 5rem;
}
#ruler {
  width: 5rem;
  height: 2.5rem;
}
#truck {
  width: 5rem;
  height: 3rem;
}

/*Appts Section*/
.apptscontainer {
  display: flex;
  justify-content: center;
}
.appts {
  width: 960px;
  display: flex;
  justify-content: center;
  padding-bottom: 5rem;
}
.appts h2 {
  width: 10rem;
  background-color: cadetblue;
  color: white;
  text-transform: uppercase;
  text-align: left;
  padding-left: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-weight: bold;
}
.appts p {
  padding-top: 1rem;
}
.appts1 {
  width: 35%;
  padding-right: 5%;
}

/*Footer Section*/
footer {
  display: flex;
  justify-content: center;
}
.containerf {
  width: 960px;
  background-color: azure;
  display: flex;
  justify-content: flex-start;
  padding-left: 4rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.containerf p {
  padding-left: 1rem;
  align-self: center;
}
/*Media Queries*/
@media only screen and (max-width: 1024px) {
    main {
      height: 22rem;
      width: auto;
    }
    .sitecontainer {
    width: 100%;
    }
    .looktext {
      font-size: 1.33rem;
      padding: 0.75rem 4rem;
    }
    .textcontainer {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      position: relative;
      top: 5rem;
      right: 2rem;
    }
}
@media only screen and (max-width: 768px) {
    main {
      height: 17rem;
      background-position: 20%;
    }
    .hidemenu {
      display: flex;
      justify-content: flex-end;
    }
    .menu {
      display: none;
    }
    header h3 {
      display: none;
    }
    .sitecontainer {
    width: 100%;
    }
    .looktext {
      width: 100%;
      font-size: 1rem;
      text-align: center;
      padding-top: 1rem;
      padding-bottom: 1rem;

    }
    .textcontainer {
      position: relative;
      top: 9rem;
      right: 0;
    }
    .info {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 2.23rem; /*with the 1.54rem from the figure this equals 3.77rem*/
      padding-bottom: 3.77rem;
    }
    figure {
      width: 100%;
      height: auto;
      padding-top: 1.54rem;
    }
    figcaption {
      font-size: 0.77rem;
      padding-top: 1.54rem;
    }
    .textcontainer img {
      padding-top: 1.54rem;
    }
    .appts {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding-bottom: 0;
    }
    .appts1 {
      width: 100%;
    }
    .appts1 h2 {
      width: 100%;
      text-align: center;
    }
    .appts1 p {
      padding-top: 1rem;
      padding-left: 0.5rem;
      padding-bottom: 4rem;
      text-align: left;
      font-size: 0.77rem;
    }
    .containerf {
      padding-left: 0;
      justify-content: center;

    }
    footer p {
      display: none;
    }
}
