html {
  font-size: 18px;
  line-height: 1.4;
  font-family: helvetica, arial;
}
/*Main Section*/
main {
  background-image: url(../images/glasses-bg.png);
  background-size: cover;
  height: 30rem;
  width: 100%;
  display: flex;
  justify-content: center;
}
header {
  display: flex;
  justify-content: center;
}
.sitecontainer {
  width: 960px;
}
.containerh {
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: cadetblue;
  color: white;
}
.logo {
  min-width: 200px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.logo img {
  height: 1.5rem;
  padding-left: 2rem;
  padding-right: 1rem;
}
.logo h3 {
  font-size: 1rem;
}
.navbar {
  min-width: 200px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navbar ul {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.navbar li {
  padding-right: 2rem;
}
.textcontainer {
  width: 960px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  top: 14rem;
  right: -2rem;
  margin: 0;
}

.looktext {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
  text-transform: uppercase;
  background-color: white;
  padding: 1.5rem 5rem;
}

/*Info Section*/
figure {
  height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding-left: 6rem;
  padding-right: 6rem;
}
figcation {
  display: block;
  text-align: center;
  vertical-align: bottom;
}
.infocontainer {
  display: flex;
  justify-content: center;
}
.info {
  width: 960px;
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
#paper {
  width: 3.5rem;
/*Tried setting height to auto, but it didn't look porportionate to the redline*/
  height: 5rem;
}
#ruler {
  width: 5rem;
  height: 2.5rem;
}
#truck {
  width: 5rem;
  height: 3rem;
}
